body {
  margin: 0;
  padding: 0;
  font-family: oswald,Helvetica,Arial,sans-serif;
}

li {
  list-style-type: none;
}

button:hover {
  cursor:pointer;
}

button:disabled {
  background-color: #d2d2d2;
}


.select{
  display: inline-flex;
  margin: 300px;

}

.select__button {
  position: relative;
width: 220px;
height: 40px;
background-color: white;
border: 1px solid #c3c3c3;
text-align: left;
padding: 10px;
font-size: 1rem;
font-weight: 500;
font-family: oswald,Helvetica,Arial,sans-serif;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}


.select__list {
  position: absolute;
  border: 1px solid #c3c3c3;
  padding: 0;
  width: 218px;
  margin-top: 5px;
}

.select__button__chevron {
  float: right;
}

.up {
  transform: rotate(180deg);
}

.reverse {
  margin-top: -220px;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
  cursor: default;
}

.select__list__item {
  padding:  2px 25px;
}

.select__list__item:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.select__optiongroup {
  padding: 5px 0px;
}

.select__optiongroup__lable:hover {
  cursor: default;
}

.select__optiongroup__lable {
  margin-left: 10px;
}

.select__optiongroup__divider {
  margin: 0;
}

.openUp {
  margin-top: -230px;
}

.down {
  transform: rotate(0deg);
}
